#app{
    height:100vh;
    width:100%;
    background:rgba(0,0,0,.2);
}

.chat__container{
    overflow:hidden;
    background:rgba(0,0,0,.1);
    padding-left:0px;
    padding-right:0px;
}

.chat__wrapper{
    min-height:35%;
    max-height:35%;
    padding-left:0px;
    padding-right:0px;
}

.chat__menu{
    margin-top:-55px;
    position: absolute;
    left:0;
    right:0;
}

div.chat__menu__playerList{
    text-align:center;
}

ul.chat__menu__playerList{
    padding:0px 10px;
}

.chat__system{
    max-width:100%;
    width:100%;
    min-width: 100%;
    padding-left:0px;
    padding-right:0px;
}

.chat__system ul{
    height:140px;
    margin:0;
    padding:0;
    overflow:auto;
}

.chat__system .chat__system__message{
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    padding:3.5px;
    padding-left:7.5px;
}

.chat__system .chat__system__message.isSystem{
    background-color:rgba(255,0,0,0.2);
}

.chat__system .chat__system__message .chat__system__message__user{
    font-weight:600;
}

.game__container{
    background:white;
    min-height:69%;
}

